/* base css */
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(17, 169, 125);
  --primary-color-rgba: rgb(184, 172, 170);
  --border-color: #dbdbdb;   
  --star-gold-color: #FFCE3E;
  --primary-color-hover: rgb(12, 130, 96);
  /* I add  */
  --border-product-color: rgba(221, 221, 221, 1);

  --header-heigth: 120px;
  --navbar-heigth: 34px;
  --header-with-search-heigth: calc(var(--header-heigth) - var(--navbar-heigth));
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/* Responsive */
.grid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {    
  display: flex;
  flex-wrap: wrap;    
  /* margin-left: -10px;
  margin-right: -10px; */
}   

.grid__column-3 {
  padding-left: 5px;
  padding-right: 5px;
  width: 30%;
}

.grid__column-9 {
  padding-left: 5px;
  padding-right: 5px;
  width: 70%;
}
